<div class="container">
    <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>

    <div class="card">
        <div class="card-header bg-dark text-white">
            {{#if editMode}}Editar{{else}}Crear{{/if}} tipos
        </div>
        <div class="card-body">

            <form class="needs-validation" novalidate method="POST" action="{{#if editMode}}/edit-tipos{{else}}/create-tipos{{/if}}">
                <div class="mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="name" name="Name" required value="{{#if editMode}}{{tipo.name}}{{/if}}">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Descripción:</label>
                    <input type="text" class="form-control" id="description" name="Description" required value="{{#if editMode}}{{tipo.description}}{{/if}}">
                 </div>

                {{#if editMode}}
                    <input type="hidden" name="tipoId" value="{{tipo.id}}"> <!-- el aqui tiene el id en singular ojo-->
                {{/if}}


                <a href="/tipos" type="button" class="btn btn-primary">Volver</a>
                <button id="btn-crear-pokemon" type="submit" class="btn btn-success">{{#if editMode}}Editar{{else}}Crear{{/if}}</button>
            </form>

        </div>
    </div>

    <div class="col-md-4"></div>
</div>


</div>